<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoreload="true">
  <targets>
    <target name="everything" xsi:type="File"
            layout="${longdate} | ${level:uppercase=true:padding=-6} : ${logger} - ${message}"
            fileName="${basedir}/logs/everything.log" keepFileOpen="false"
            encoding="utf-8"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="everything"/>
  </rules>
</nlog>
